<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        
        <div class="page-header">
             <h1>Accueil Tournoi <small>Masculin</small></h1>
        </div>
        <link rel="stylesheet" href="{{ asset('libs/bootstrap-3.3.7-dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <script src="{{ asset('libs/bootstrap-3.3.7-dist/js/jquery.js') }}"></script>
        <script src="{{ asset('libs/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
        
        <ul class="nav nav-tabs">
          <li class="active"><a href="{{ path('hommes_index')}}" class="active">Homme</a></li>
          <li><a href="{{ path('femmes_index')}}">Femme</a></li>
          <li><a href="{{ path('rencontres_planning')}}">Planning</a></li>
        </ul>
      <tbody>
          <br></br>
            <ul class="nav nav-pills" align="center">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{{ path('Phases_groupe')}}">Phase de groupe</a></li>
                    <li><a href="{{ path('Phases_consolante')}}">Phase consolante</a></li>
                    <li ><a href="{{ path('Phases_principale')}}">Phase principale</a></li>
                 </ul>
            </ul>
      </tbody>
      
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">           
            <h3 class="text-primary text-center">Groupes</h3>
            {% for phase in phases %}
              {% if phase.id == 3 %}
                      <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th class="text-center">Nom</th>
                              <th class="text-center">Numero</th>
                              <th class="text-center">Equipes</th>                              
                              <th class="text-center">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for groupe in phase.groupes %}
                              <tr>
                                  <td>{{ groupe.nom }}</td>
                                  <td>{{ groupe.numero }}</td>
                                  <td>      
                                  {% for equipe in groupe.equipes %}
                                      <ul>
                                          <ul>{{equipe.nom}}</ul>
                                      </ul>
                                  {% endfor %}              
                                  {% if groupe.equipes is empty %}
                                     <p>Ce groupe ne contient pas d'équipe.</p>
                                 {% else %}
                                 {% endif %}    
                                  </td>
                                  <td>      
                                      <ul align="center">
                                          <a href="{{ path('groupes_show', { 'id': groupe.id }) }}" class="btn btn-success">voir</a>
                                          <a href="{{ path('groupes_edit', { 'id': groupe.id }) }}" class="btn btn-warning">éditer</a>
                                          <a  class="btn btn-danger glyphicon glyphicon-remove"  href="{{ path('groupes_supprimer', { 'id': groupe.id }) }}" >   
                                          </a>                            
                                      </ul>
                                  </td>                                  
                              </tr>
                          {% endfor %}
                      <br>
                          {% if app.session.flashBag.has('success') %}
                              <div class="alert alert-success">
                                  {% for msg in app.session.flashBag.get('success') %}
                                      {{ msg }}
                                  {% endfor %}
                              </div>
                          {% endif %}
                      </br>
                      </tbody>
                  </table>                 
        </div>
        <div class="col-sm-1"></div>
    </div>                   
                
            <div align="center">
                <a class="btn btn-default"  href="{{ path('groupes_new') }}">Créer groupe</a>
                <a class="btn btn-default" href="{{ path('hommes_index') }}">Accueil</a>
            </div>
        {% else %}
        {% endif %}
        {% endfor %}   
    </body>
</html>

           {#{{ render(controller("TournoiBundle:Groupe:index")) }}#}