{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text text-primary text-center">Editer rencontre {{ rencontre.id }}</h1>
    
    <div class="well" align="center">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
            <input class="btn btn-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
    </div>
    <div>
        {{ render(controller("TournoiBundle:Score:edit")) }}
    </div>
    <div align="center">
        <a class="btn btn-default" href="{{ path('rencontres_planning') }}">Retour</a>
        <a class="btn btn-default" href="{{ path('hommes_index') }}">Accueil</a>
    </div>
{% endblock %}
